
@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SağlıkHizmetleri</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-md-4 col-md-push-4">
                <div class="alert alert-danger text-center">Acil Servis</div>
                <img class="img-responsive img-circle" src="~/Content/acil-servis-f5SS_cover.jpg" />
            </div>
            <div class="col-md-4 col-md-pull-4 ">
                <div class="alert alert-info text-center">Yoğun Bakım</div>
                <img class="img-responsive img-circle" src="~/Content/2017060114275719_0hrqf6pklplgt6tkpomkj00i661.jpg" />
            </div>
            <div class="col-md-4">
                <div class="alert alert-success text-center">Evde Sağlık Hizmetleri</div>
                <img class="img-responsive img-circle" src="~/Content/evde.jpg" />
            </div>
        </div>

        <hr />
        <div class="container">
            <nav aria-label="...">
                <ul class="pager alert-warning">
                    <li><a href="http://localhost:55284/Anasayfa"><span aria-hidden="true">&larr;</span> Ana Sayfa <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>

</body>
</html>
